*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/
Admit/examples/Manifest.toml
Admit/examples/*.csv
Admit/examples/*.xlsx
Admit/examples/*.pdf
Admit/examples/*.tex
AdmissionTargets/examples/*.csv
AdmissionTargets/examples/*.xlsx
AdmissionTargets/examples/*.pdf
AdmissionTargets/examples/*.tex
LocalPreferences.toml
